body {
    text-align: center;
}
.game-container {
	margin-top: 100px;
}
.game-screen {
	background-color: #3cf;
	width: 535px;
	height: 616px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
    border-width: 15px;
    border-color: #003;
	margin: auto;
}
.game-controls {
	margin: 10px 0 10px 0;
}
.player-info {
	/*background-color: rgb(255, 0, 45);*/
	position: relative;
	margin: -660px auto 0 auto;
	width: 500px;
	height: 606px;
}
